.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 50%;

    &:hover{
        cursor: pointer;
    }
}

.button .icon path {
    transition: fill var(--transition-duration);
}

.button:hover .icon path {
    fill: var(--color-rose-900);
}